nav {
    height: 60%;
    width: 120px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 7, 6, 0.835);
    overflow-x: hidden;
    z-index: 1;
    padding-top: 50px;
} 

.hamburger, .x {
    position: absolute;
    cursor: pointer;
    margin-left: 13px;
    margin-top: 7px;
    z-index: 2;
}

.hamburger span, .x span {
    position: relative;
    width: 39px;
    height: 5px;
    background: rgb(3, 148, 233);
    display: block;
    margin: 6px;
    transition: 1.2s;
}

.hamburger {
    transition: 1.2s;
}

.x {
    transition: 1.2s;
}

.x span:nth-child(1) {
    transform: rotate(315deg);
    top: 10px;
    transition: 1.2s;
    background: rgb(3, 148, 233);
}

.x span:nth-child(2) {
    transform: rotate(-315deg);
    bottom: 1px;
    transition: 1.2s;
    background: rgb(3, 148, 233);
}

.x span:nth-child(3) {
    transform: scaleX(0) rotate(90deg);
    transition: 1.2s;
    background-color: red;
    background: rgb(3, 148, 233);
}

.fa-home, .fa-user, .fa-eye, .fa-address-book {
    font-size: 2.6em;
    color: rgb(5, 145, 124);
    position: relative;
}

.fa-home:hover, .fa-user:hover, .fa-eye:hover, .fa-address-book:hover {
    transform: scale(1.2);
    color: white;
}

.nav-links {
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* 
.fa-home {

}

.fa-user {
    left: 5px;
}

.fa-eye {
    right: 2px;
}

.fa-address-book {
    left: 4px;
} 


h6 {
    margin: 0;
    position: relative;
    text-align: left;
    bottom: 10px;
    color: white;
}

#home {
    left: 7px;
}

#about {
    right: 4px;
}

#projects {
    right: 1px;
}

#contact {
    right: 1px;
}

.fa-linkedin-in {
    font-size: 4em;
    color: white;
}

#logo-image {
    width: 125px;
} */